*/*.pyc
*.p
.coverage
*.pyc
*.mm
*.projection
*.gephi
*.archimate
*.bak
*.xml
*.jpeg
*.jpg
*.png
*.pdf
*.txt
*.dict
*.lsi
*.index
*.net
Runs/*
*.gml
*.csv
build/*
dist/*
nl_lib.egg-info/
.idea/*
.project
*.pptx
log.tx*
ngramsubject
